 
 .rain-grid {
  
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(15, 25px); 
  gap: 0px; 
  justify-content: center;
  margin-top: 50px;
  margin: 0;
  
}

.rain-cell {
  background-color: rgb(241, 177, 177);
  width: 15px;
  height: 20px;
  border: 1px solid rgba(1, 0, 0, 0.1);
  transition: background-color 0s ease-in-out;
  
  
} 


